@font-face {
  src: url(../../fonts/Spartan-VariableFont_wght.ttf);
  font-family: Spartan;
}

@font-face {
  src: url(../../fonts/WayfinderCF-Regular.ttf);
  font-family: Wayfinder;
}

$color1: #a2e34c;
$color2: #e9ef39;
$color3: #fed13d;
$color4: #ffcbbb;
$color5: #ff8f8f;
$color6: #c1f9ff;
$color7: #aec1ff;
$color7: #efacff;
$color8: #ffbb87;
$color9: #caabff;
$color10: #a5ffda;

$font-1: Spartan;
$font-2: Wayfinder;
$color-font: #000;
$color-font2: #fff;
