@use "../base/variables";

/* BASKET */
.basketContainer {
  position: fixed;
  right: 0;
  z-index: 3;
  width: 21rem;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-left: 2rem;
  background-color: #fff;
  box-shadow: 0.7px 0.5px 1.6px rgba(0, 0, 0, 0.057), 2.2px 1.6px 5.4px rgba(0, 0, 0, 0.083), 10px 7px 24px rgba(0, 0, 0, 0.14);
  h2 {
    font-family: variables.$font-1;
  }
}

/* BASKET LIST */
.basketList {
  margin-top: 2rem;
}

.paymentLine {
  border-bottom: 3px dashed #000;
  width: 90%;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.totalBasket {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
  font-family: variables.$font-1;
  font-size: 1.1rem;
  .totalPrice {
    font-weight: bold;
    font-size: 1.3rem;
  }
}

/* ITEM */
.listItem {
  list-style: none;
  margin-left: -5rem;
  margin-bottom: 1rem;
  font-family: variables.$font-1;

  .basketItem {
    display: flex;

    .deleteItem {
      position: absolute;
      right: 2rem;
      font-size: 1.8rem;
      cursor: pointer;
      &:hover {
        color: rgb(201, 79, 79);
      }
    }

    .basketImg {
      width: 8rem;

      img {
        max-width: 100%;
      }
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-left: -1rem;
      margin-top: 0.5rem;

      h3 {
        font-family: variables.$font-2;
        font-size: 1.3rem;
        font-weight: 100;
      }

      .itemButtons {
        display: flex;
        align-items: baseline;
        gap: 0.4rem;
        width: 7.5rem;
        p {
          width: 2rem;
          text-align: center;
        }

        button {
          height: fit-content;
          background-color: transparent;
          border: solid 2px #000;
          border-radius: 4px;
          &:hover {
            background-color: #e2e2e2;
          }
        }

        .plusBtn {
          line-height: initial;
        }
      }
    }

    .itemTotalPrice {
      margin-top: 5rem;
      font-weight: 900;
      font-size: 1.3rem;
    }
  }
}

/* PAYMENT METHOD */
.paymentMethod {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  .methods {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    margin-top: 1rem;
    .mpP {
      width: 70px;
      img {
        max-width: 100%;
      }
    }
  }
  .checkoutBtn {
    align-self: center;
    width: 9rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    background-color: #ffd4b4;
    border: none;
    border-radius: 5px;
    font-family: variables.$font-1;
    font-size: 1rem;
    &:hover {
      background-color: #f8bb8d;
    }
  }
}
