.addToBasket {
  border: none;
  background-color: white;
  box-shadow: 0.4px 0.1px 1.6px rgba(0, 0, 0, 0.057), 1.3px 0.4px 5.4px rgba(0, 0, 0, 0.083), 6px 2px 24px rgba(0, 0, 0, 0.14);
  padding: 0.5rem;
  border-radius: 5px;
}

.addBasket {
  display: flex;
  justify-content: center;
}
