@use "../base/variables";

* {
  margin: 0;
  box-sizing: border-box;
}

.cls-1,
.cls-2 {
  fill: #fff;
}

.cls-1 {
  stroke: #010202;
}

.cls-1,
.cls-2,
.cls-3 {
  stroke-miterlimit: 10;
}

.cls-2,
.cls-3 {
  stroke: #010101;
}
.cls-2 {
  animation: fillup 4s infinite;
  animation-fill-mode: forwards;
}

#Layer_1 {
  width: 30%;
  height: auto;
  margin-left: 35%;
  top: 0;
}

@keyframes fillup {
  0% {
    top: 10%;
    fill: white;
  }

  50% {
    top: 100%;
    fill: yellow;
  }
}

.cls-3 {
  fill: none;
}
.beer {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid black;
  z-index: 10;
  display: none;
}

.close {
  position: relative;
  top: 50%;
  left: 38rem;
}
.App {
  display: grid;
  grid-template-columns: 3.2fr 0.8fr;
}
/* .App > * {
  border: 1px solid #000;
} */

nav {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
  a {
    text-decoration: none;
    color: black;
    font-family: variables.$font-1;
    font-size: 2.5rem;
  }
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 50px));
  padding-left: 2rem;
  margin-top: 1.2rem;

  article {
    margin: 1rem;
    border-radius: 7px;
    box-shadow: 0px 0px 17px 8px rgba(175, 175, 175, 0.23);
    background-color: white;
    transition: all 0.2s ease-in-out;
    /* 
    -webkit-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
    -moz-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
    box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1); */
    &:hover {
      -webkit-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
      -moz-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
      box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
    }

    .beerView {
      text-decoration: none;
      color: #000;
      cursor: pointer;

      h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: variables.$font-2;
        font-weight: normal;
        letter-spacing: 1px;
      }
      h3 {
        font-family: variables.$font-1;
        font-weight: normal;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
      }

      p {
        font-family: variables.$font-1;
        font-weight: 800;
        font-size: 0.8rem;
      }

      .line {
        border-left: 1px solid black;
        height: 20px;
        margin: 0 0.5rem;
      }
    }
  }

  .beer-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }

  .beer-price > * {
    margin: 0;
    // padding: 0 0.3rem;
  }
}

.beerImage {
  width: 100%;
  grid-template-columns: 3fr 1fr;
}

.productListHead {
  h1 {
    font-family: variables.$font-1;
    font-size: 1.7rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    color: #2b2b2b;
  }
  h2 {
    font-family: variables.$font-1;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0.3rem 2rem;
    margin: 0 1rem;
    color: 242424;
  }
}
