@use "../base/variables";

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 3.2fr 0.8fr;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 253, 249, 1) 59%, rgba(255, 253, 249, 1) 100%);
}

nav {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
  a {
    text-decoration: none;
    color: black;
    font-family: variables.$font-1;
    font-size: 2.5rem;
  }
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 50px));
  padding-left: 2rem;
  margin-top: 1.2rem;

  article {
    margin: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
    -moz-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
    box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);

    .beerView {
      text-decoration: none;
      color: #000;
      cursor: pointer;

      h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: variables.$font-2;
        font-weight: normal;
        letter-spacing: 1px;
      }
      h3 {
        font-family: variables.$font-1;
        font-weight: normal;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
      }

      p {
        font-family: variables.$font-1;
        font-weight: 800;
        font-size: 0.8rem;
      }

      .line {
        border-left: 1px solid black;
        height: 20px;
        margin: 0 0.5rem;
      }
    }
  }

  .beer-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }

  .beer-price > * {
    margin: 0;
    // padding: 0 0.3rem;
  }
}

.beerImage {
  width: 100%;
  grid-template-columns: 3fr 1fr;
}

.productListHead {
  h1 {
    font-family: variables.$font-1;
    font-size: 1.7rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    color: #2b2b2b;
  }
  h2 {
    font-family: variables.$font-1;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0.3rem 2rem;
    margin: 0 1rem;
    color: 242424;
  }
}
