@use "../base/variables";

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 78vw 22vw;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #e5f0f9 100%);
}

nav {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
  a {
    text-decoration: none;
    color: black;
    font-family: variables.$font-1;
    font-size: 2.5rem;
    img {
      max-width: 70%;
    }
  }
  .mobileBasketBtn {
    display: none;
  }
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 50px));
  padding-left: 2rem;
  margin-top: 1.2rem;

  article {
    margin: 1rem;
    border-radius: 7px;
    box-shadow: 0px 0px 17px 8px rgba(175, 175, 175, 0.23);
    background-color: white;
    transition: all 0.2s ease-in-out;
    &:hover {
      -webkit-box-shadow: 1px 3px 12px 3px variables.$color-button5;
      -moz-box-shadow: 1px 3px 12px 3px variables.$color-button5;
      box-shadow: 1px 3px 12px 3px variables.$color-button5;
      /*  background: linear-gradient(180deg, #e5f0f9 0%, rgba(255, 255, 255, 1) 100%); */
    }

    .beerView {
      text-decoration: none;
      color: #000;
      cursor: pointer;

      h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: variables.$font-2;
        font-weight: normal;
        letter-spacing: 1px;
      }
      h3 {
        font-family: variables.$font-1;
        font-weight: normal;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
      }

      p {
        font-family: variables.$font-1;
        font-weight: 800;
        font-size: 0.8rem;
      }

      .line {
        border-left: 1px solid black;
        height: 20px;
        margin: 0 0.5rem;
      }
    }
  }

  .beer-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }

  .beer-price > * {
    margin: 0;
    // padding: 0 0.3rem;
  }
}

.beerImage {
  width: 100%;
  grid-template-columns: 3fr 1fr;
}

.productListHead {
  h1 {
    font-family: variables.$font-1;
    font-size: 1.7rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    color: #2b2b2b;
  }
  h2 {
    font-family: variables.$font-1;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0.3rem 2rem;
    margin: 0 1rem;
    color: 242424;
  }
}

@media only screen and (max-width: 1373px) {
  .App {
    grid-template-columns: 79vw 21vw;
  }
}

@media only screen and (max-width: 1140px) {
  .App {
    grid-template-columns: 72vw 25vw;
  }
}

@media only screen and (max-width: 770px) {
  .App {
    grid-template-columns: 75vw 25vw;
  }

  .ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 50px));
  }

  .ProductList article .beerView h3 {
    font-size: 0.7rem;
  }

  .productListHead {
    h1 {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width: 426px) {
  .App {
    grid-template-columns: 100vw;
  }

  .ProductList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 50px));
    padding-left: 0;
    justify-content: center;
  }

  nav {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
    a {
      text-decoration: none;
      color: black;
      font-family: variables.$font-1;
      font-size: 2.5rem;
    }

    .mobileBasketBtn {
      display: initial;
      position: fixed;
      right: 1rem;
      border: none;
      border-radius: 10rem;
      width: 2.8rem;
      height: 2.8rem;
      z-index: 5;
      svg {
        max-width: 70%;
      }
      &:hover {
        background-color: rgb(155, 155, 155);
      }
      .basketDot {
        position: absolute;
        right: 2.1rem;
        top: 0.2rem;
        width: 10px;
        height: 10px;
        background-color: #c73c3c;
        border-radius: 10rem;
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .ProductList {
    grid-template-columns: repeat(auto-fill, minmax(290px, 50px));
  }
}
