@use "../base/variables";

* {
  margin: 0;
  box-sizing: border-box;
}

// .logo {
//   width: 50%;
//   display: flex;
//   justify-content: center;
// }
.cls-1,
.cls-2 {
  fill: #fff;
}

.cls-1 {
  stroke: #010202;
}

.cls-1,
.cls-2,
.cls-3 {
  stroke-miterlimit: 10;
}

.cls-2,
.cls-3 {
  stroke: #010101;
}
.cls-2 {
  animation: fillup 4s infinite;
  animation-fill-mode: forwards;
}
.beer_wrapper {
  display: block;
  width: 100%;
  height: 100%;
}
#Layer_1 {
  width: 30%;
  height: auto;
  margin-left: 35%;
  margin-top: -10%;
  display: block;
  // display: inline-block;
  position: relative;
}

@keyframes fillup {
  0% {
    top: 10%;
    fill: white;
  }

  50% {
    top: 100%;
    fill: yellow;
  }
}

.cls-3 {
  fill: none;
}
.beer {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid black;
  z-index: 10;
  display: none;
}

.close {
  position: relative;
  left: 43%;
  top: 30%;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: variables.$font-1;
  cursor: pointer;
  text-align: center;
  font-weight: 900;
  z-index: 11;
}
.App {
  display: grid;
  grid-template-columns: 78vw 22vw;
}

nav {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
  a {
    text-decoration: none;
    color: black;
    font-family: variables.$font-1;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    img {
      max-width: 40%;
    }
  }
  .mobileBasketBtn {
    display: none;
  }
}

/* BEER ANIMATIONS */

/* .introBeer {
  height: 40rem;
}

.beerGlass {
  position: absolute;
  height: 30rem;
  width: 30rem;
  top: 10rem;
  left: 25rem;
  img {
    max-width: 100%;
  }
}

.beerLiquid {
  position: absolute;
  height: 26rem;
  width: 30rem;
  top: 10rem;
  left: 25rem;
  overflow-y: hidden;
  img {
    max-width: 100%;
  }
}

.serving {
  animation-name: serving;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transform-origin: bottom;
  animation-timing-function: linear;
  margin-left: 0.1vw;
  overflow: hidden;
}

@keyframes serving {
  0% {
    transform: translateY(22rem);
  }

  50% {
    transform: translateY(0);
  }

  52% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(22rem);
  }
}
 */
.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 260px));
  padding-left: 2rem;
  margin-top: 1.2rem;

  article {
    margin: 1rem;
    border-radius: 7px;
    box-shadow: 0px 0px 17px 8px rgba(175, 175, 175, 0.23);
    background-color: white;
    transition: all 0.2s ease-in-out;
    &:hover {
      -webkit-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
      -moz-box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
      box-shadow: 1px 3px 12px 3px rgba(255, 230, 181, 1);
      /*  background: linear-gradient(180deg, #e5f0f9 0%, rgba(255, 255, 255, 1) 100%); */
    }

    .beerView {
      text-decoration: none;
      color: #000;
      cursor: pointer;

      h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: variables.$font-2;
        font-weight: normal;
        letter-spacing: 1px;
      }
      h3 {
        font-family: variables.$font-1;
        font-weight: normal;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
      }

      p {
        font-family: variables.$font-1;
        font-weight: 800;
        font-size: 0.8rem;
      }

      .line {
        border-left: 1px solid black;
        height: 20px;
        margin: 0 0.5rem;
      }
    }
  }

  .beer-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }

  .beer-price > * {
    margin: 0;
    // padding: 0 0.3rem;
  }
}

.beerImage {
  width: 100%;
  grid-template-columns: 3fr 1fr;
}

.productListHead {
  h1 {
    font-family: variables.$font-1;
    font-size: 1.7rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    color: #2b2b2b;
  }
  h2 {
    font-family: variables.$font-1;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0.3rem 2rem;
    margin: 0 1rem;
    color: 242424;
  }
}

@media only screen and (max-width: 1373px) {
  .App {
    grid-template-columns: 79vw 21vw;
  }
}

@media only screen and (max-width: 1140px) {
  .App {
    grid-template-columns: 72vw 25vw;
  }
}

@media only screen and (max-width: 770px) {
  .App {
    grid-template-columns: 75vw 25vw;
  }

  .ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 240px));
  }

  .ProductList article .beerView h3 {
    font-size: 0.7rem;
  }

  .productListHead {
    h1 {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width: 426px) {
  .App {
    grid-template-columns: 100vw;
  }

  .ProductList {
    grid-template-columns: repeat(auto-fill, minmax(50px, 200px));
    padding-left: 0;
    justify-content: center;
  }

  nav {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
    a {
      text-decoration: none;
      color: black;
      font-family: variables.$font-1;
      font-size: 2.5rem;
    }

    .mobileBasketBtn {
      display: initial;
      position: fixed;
      right: 1rem;
      border: none;
      border-radius: 10rem;
      width: 2.8rem;
      height: 2.8rem;
      z-index: 5;
      svg {
        max-width: 70%;
      }
      &:hover {
        background-color: rgb(155, 155, 155);
      }
      .basketDot {
        position: absolute;
        right: 2.1rem;
        top: 0.2rem;
        width: 10px;
        height: 10px;
        background-color: #c73c3c;
        border-radius: 10rem;
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .ProductList {
    grid-template-columns: repeat(auto-fill, minmax(50px, 290px));
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  #Layer_1 {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: -10%;
  }
  .close {
    position: relative;
    left: 33%;
    top: 30%;
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: variables.$font-1;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    z-index: 11;
  }
}
