@use "../base/variables";

// Welcome Screen
.WelcomeScreen {
  padding-top: 3rem;
  width: 100vw;
  z-index: 2;

  .manual {
    z-index: 1;
  }

  h1 {
    font-size: 5rem;
    font-family: variables.$font-2;
    text-align: center;
    margin-bottom: 2rem;
  }

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .step {
      display: flex;
      margin: 1rem;
      border-radius: 7px;
      box-shadow: 0px 0px 17px 8px rgba(175, 175, 175, 0.23);
      background-color: white;
      flex-direction: column;
      align-items: center;
      padding: 1rem 2rem;

      h1 {
        font-size: 2.5rem;
      }

      img {
        width: 6rem;
        height: auto;
        padding: 1rem 0;
        // margin: 0.5rem 0;
      }

      h2 {
        font-family: variables.$font-1;
        font-size: 1.5rem;
        width: 10rem;
        font-weight: 800;
        line-height: 2rem;
        padding: 1rem 0;
      }
    }

    .one {
      background: linear-gradient(180deg, #f9e1ff 0%, rgba(255, 255, 255, 1) 100%);
    }
    .two {
      background: linear-gradient(180deg, #fee2cd 0%, rgba(255, 255, 255, 1) 100%);
    }
    .three {
      background: linear-gradient(180deg, #b8fce1 0%, rgba(255, 255, 255, 1) 100%);
    }
    .four {
      background: linear-gradient(180deg, #fbfdb6 0%, rgba(255, 255, 255, 1) 100%);
    }
  }

  h2 {
    font-family: variables.$font-2;
    text-align: center;
    font-size: 3rem;
  }
}
.beer-middle {
  animation-name: go-up;
  position: relative;
  top: -30rem;
  left: 14rem;
  z-index: -1;
  .beer-middle {
    animation-name: go-up;
    position: relative;
    top: -30rem;
    left: 14rem;
    z-index: -1;

    .beerGlass {
      position: absolute;
      height: 15rem;
      width: 15rem;
      top: 3rem;
      left: 22rem;
      img {
        max-width: 100%;
      }
    }
    .beerLiquid {
      position: absolute;
      height: 12rem;
      width: 15rem;
      top: 3rem;
      left: 22rem;
      overflow-y: hidden;
      img {
        max-width: 100%;
      }
    }
  }
}

.noshow {
  display: block;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .WelcomeScreen {
    h1 {
      margin-bottom: 0.2rem;
    }
    .steps {
      flex-direction: column;
      align-items: center;

      .step {
        width: 15rem;
      }
    }
  }
  .noshow {
    display: none;
  }
}
