.App {
  display: grid;
  grid-template-columns: 3.2fr 0.8fr;
}
.App > * {
  border: 1px solid #000;
}
nav {
  grid-column: 1/-1;
}
.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.open {
  display: initial;
}
.closed {
  display: none;
}

article {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0.7px 0.5px 1.6px rgba(0, 0, 0, 0.057), 2.2px 1.6px 5.4px rgba(0, 0, 0, 0.083), 10px 7px 24px rgba(0, 0, 0, 0.14);
}

.beer-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.beer-price > * {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: white;
  box-shadow: 0.4px 0.1px 1.6px rgba(0, 0, 0, 0.057), 1.3px 0.4px 5.4px rgba(0, 0, 0, 0.083), 6px 2px 24px rgba(0, 0, 0, 0.14);
  padding: 0.5rem;
  border-radius: 5px;
}

.addBasket {
  display: flex;
  justify-content: center;
}

.beerImage {
  width: 100%;
}
